<style>
    .footer__logo a {
        font-size: 28px;
        font-weight: bold;
        color: #4F46E5;
        text-decoration: none;
    }

</style>





<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="footer__about">
                    <div class="footer__logo">
                            <a asp-action="Index" asp-controller="Home">JD Shop</a>
                    </div>
                    <p>Thương hiệu thời trang hàng đầu Việt Nam, mang đến những sản phẩm chất lượng cao với phong cách hiện đại và tinh tế.</p>
                </div>
            </div>
            <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua sắm</h6>
                    <ul>
                        <li><a href="#">Cửa hàng thời trang</a></li>
                        <li><a href="#">Giày dép thịnh hành</a></li>
                        <li><a href="#">Phụ kiện</a></li>
                        <li><a href="#">Khuyến mãi</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-6">
                <div class="footer__widget">
                    <h6>Mua sắm</h6>
                    <ul>
                        <li><a href="#">Liên hệ</a></li>
                        <li><a href="#">Phương thức thanh toán</a></li>
                        <li><a href="#">Giao hàng</a></li>
                        <li><a href="#">Đổi trả hàng</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6 col-sm-6">
                <div class="footer__widget">
                    <h6>Bản tin</h6>
                    <div class="footer__newslatter">
                        <p>Hãy là người đầu tiên biết về sản phẩm mới, bộ sưu tập, giảm giá & khuyến mãi!</p>
                        <form action="#">
                            <input type="text" placeholder="Email của bạn">
                            <button type="submit"><span class="icon_mail_alt"></span></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>